body {
  color: white;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Work Sans', sans-serif;
  background-image: linear-gradient(to bottom right, #8E0B4B, #56042C);
}

.countdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3em;
  font-size: 1.4em;

}

td {
  border: solid 1px;
  border-color: black;
  width: 12em;
}

.groups-container {
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.group {
  padding: 10px 0px 10px 0px;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 3em;
  }
}


@media (max-width: 720px) {
  table {
    width: 45%
  }
}
